@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');






/* GLOBAL STYLE STUFF */
:root {
    --red: #be3144;
    --black: #0b0c10;
    --blue: #45567d;
    --slategrey: #1f2833;
    --smokegrey: #c5C6c7;
    --cyan: #66fcf1;
    --teal: #45a29e;
}

* {
    font-family: 'poppins'; 
    
}

body {
    background-color: var(--black); 
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    overflow-x: hidden;
}

/* END OF GLOBAL STYLE STUFF */


/* NAVBAR */
div.container {
    display: flex;
}

.nav-flex {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5vw;
    background-color: var(--red);
    display: flex; 
    justify-content: right; 
}

ul {
    list-style-type: none;
    display: flex;
    font-family: 'poppins';
    font-size: 20px;
    gap: 30px;
    margin-right: 50px;
}

li a {
    text-decoration: none;
    color: white;
}

/* END NAVBAR */




/* WELCOME SECTION */

.container2 {
    display: flex;
    justify-content: center; 
    /* background-color: green; */

}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    position: absolute;
    top: 30%;
    align-items: center;
    height: 50vw;
    /* background-color: blue;  */
}

#welcome-section > h1 {
    color: #f5f5f5;
    font-size: 2em;
}

#welcome-section > p {
    color: var(--red);
    font-style: italic;
    font-size: 1.6em;
    position: relative; 
    top: -40px;
    font-weight: thin;
}
/* END WELCOME SECTION */



/* START PROJECTS SECTION */
.panelwrapper {
    background-color: #fcfbfb; 
    position: relative;
    width: 100vw;
    top: 1000px;
    height: 1000px;
    
}

header#projects {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    position: relative; 
    top: 5vw;
    font-size: 24px; 
    color: white;
}

.panelwrapper > header::after {
    content: '';
    display: flex;
    flex-direction: column;
    position: relative; 
    background-color: white; 
    bottom: 2vh;
    width: 30vw;
    height: 2px;
}

.container3 {
    position: relative; 
    display: flex;
    flex-direction: row; 
    flex-flow: wrap; 
    flex-basis: 200px; 
    align-items: center;
    justify-content: center;
    top: 10%;
    height: auto;
    width: 80%;
    margin: 0 auto;
    overflow: auto hidden;
}

.panel {
    background-color: white; 
    height: 400px; 
    min-height: fit-content;
    min-width: 150px;
    width: 10%;
    margin: 10px;
    padding: 30px;
    transition: flex 0.7s ease-in; 
     
    overflow: hidden;
    font-size: 14px;    
    border: 1px solid #e0e0e0;
   
}

.panel:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

.panelbreak { 
    color: #eeeded;
    opacity: 1;
    transition: opacity 0.0s ease-in 0.5s;
}

.panel p.desc {
    font-size: 12px;
    
}

.panel header {
    opacity: 1;
    font-size: 14px; 
    text-align: center; 
    font-weight: bold;
    transition: opacity 0.0s ease-in 0.5s;
}

.panel h1 {
    opacity: 0;
    text-align: center;
    margin-top: -20px;
    font-size: 14px;

}


.thumbnail img {
    max-width: 100%; 
    border: 1px solid #e0e0e0;
    
    
}


/* BUTTONS */


.demo, .code { 
    margin: 10% 0 0 10%; 
    font-size: 12px;
    background-color: var(--smokegrey);
    cursor: pointer;
    color:var(--black); 
    font-weight: bold; 
    border-radius: 5px;  
    
}

.demo:hover, .code:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    /* to do: find a better color scheme for these buttons  */
    color: white;
    
}


/* END PROJECTS SECTION */

